* {
    margin: 0;
    box-sizing: border-box;
}



.element {
    width: 200px;
    height: 200px;
    background-color: tomato;
    margin: 70px auto;

    transition-property: transform;
    transition-duration: 2s;
}

.element:hover {
    background-color: black;
}