.card {
    margin: 80px auto;
    width: 300px;
    padding: 20px 10px;
    background-color: rgb(0, 255, 255);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;

}

.card--red {
    background-color: crimson;
}

.card__img {
    width: 210px;
    height: 210px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

.card__texts {
    text-align: center;
}

.card__paragraph {
    text-align: justify;
}

.card__link {
    background-color: white;
    color: black;
    text-decoration: none;
    display: block;
    width: 50%;
    margin: 0 auto;
    padding: 1em 0;
    text-align: center;
}